<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="org.sqlite.JDBC"/>
		<property name="url" value="jdbc:sqlite:db"/>
	</bean>
	<bean id="baseStatsDao" class="com.kdw.pokeivemul.baseStats.dao.impl.BaseStatsDaoImpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="natureDao" class="com.kdw.pokeivemul.Nature.dao.impl.NatureDaoImpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
    <!-- sqlSessionTemplate -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
 
    <!-- sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
        <property name="mapperLocations">
	        <list> <!-- 여러 sql문을 받아오기 위해 list로 받아온다 -->
	            <value>classpath:sql/*.xml</value>
	        </list>
        </property>
    </bean>
</beans>